<ion-view view-title="Disciplinas">
  <ion-content scrollbar-y="true" scroll="true">
         <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()"></ion-refresher>
         <div ng-repeat="disc in disciplinas">
             <div class="item list-divider" ng-show="{{disc.nome.length}}">{{disc.nome}}</div>
             <div class="list">
                 <div class="green item"></div>
                 <p class="turma">Turma: {{disc.turma}}</p>
                 <p class="sala">Sala: {{disc.sala}}</p>
                 <p class="horario">Horário: {{disc.horario}}</p>
                 <p class="creditos">Créditos: {{disc.creditos}}</p>
                 <p class="faltas">Faltas: {{disc.faltas}}</p>
                 <a class="icon icon-right ion-chevron-right seta" href="#/logado/disciplina" nav-direction="forward"></a>
             </div>
          </div>
  </ion-content>
</ion-view>
