<ion-view view-title="Login">
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content class="bg-azul" scroll="false">
    <div>
        <div class="center">
            <img src="img/logo_unifor.png" alt="logo da unifor" title="logo da unifor" class="full-image" id="logo">
        </div>
    </div>

      <article>
            <form>
              <div class="form-login">
                  <input type="text" placeholder="Matrícula" ng-model="loginData.matricula">
                  <input type="password" placeholder="Senha" ng-model="loginData.senha">
                  <button type="submit" on-tap="doLogin()">Acessar</button>
               </div>    
            </form>
      </article>
  </ion-content>
</ion-view>
