<ion-view view-title="Mapa do campus">
  <ion-content>
        <div id="map" data-tap-disabled="true">
        </div>
        <img src="img/Maps-Define-Location-icon.png" id="location" on-tap="centerOnMe()"/>
        <img src="img/location.png" id="locaisModal" on-tap="openModal()">
        <img src="img/close-icon.png" id="cancelNavigation" on-tap="cancelNavigation()" ng-show="isNavigation">
      <script id="my-modal.html" type="text/ng-template">
          <ion-modal-view class="mapaModal">
            <ion-header-bar class="title-bar">
              <h1 class="title title-left">Escolha um local</h1>
            </ion-header-bar>
            <ion-content>
              <div class="list no-margin" ng-repeat="local in locaisFiltrados">
                  <div class="item item-divider list-divider" ng-show="local.tipoLocal.length">{{local.tipoLocal}}</div>
                  <a class="item item-left teste" on-tap="tracarRota(local)">{{local.titulo}} <span class="distancia">{{minhasDistancias[$index]}}m</span></a>
              </div>
            </ion-content>
          </ion-modal-view>
      </script>
  </ion-content>
</ion-view>
