<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-positive">
      <ion-nav-back-button class="esquerda">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuLogado"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/logado/disciplinas">
          Minhas Disciplinas
        </ion-item>
        <ion-item menu-close href="#/logado/torpedo">
          Torpedo
        </ion-item>
        <ion-item menu-close href="#/logado/noticias">
          Notícias
        </ion-item>
        <ion-item menu-close href="#/logado/mapa">
          Mapa do Campus
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
