.form {
    margin-top: 10%;
}

#loading {
    height: auto;
    width: auto;
    background-color: white;
    color: black;
}

.info-window{
    font-weight: bold;
}

.no-margin {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

#location {
    position: fixed;
    bottom: 25px;
    right: 50px;
    height: 10%;
    width: 10%;
    background-color: white;
}

.mapaModal{
    position: absolute;
    left: 10%;
    width: 80%;
    top: 20px;
    box-sizing: content-box;
}

#cancelNavigation{
    position: absolute;
    bottom: 25px;
    right: 150px;
    height: 10%;
    width: 10%;
    background-color: white;
}

#logo{
  position: relative;
  margin-top: 10%;
  top: 0;
  left: 35%;    
  width: 30%;
  height: 15%;
  box-sizing: content-box;
}

#locaisModal{
    position: absolute;
    bottom: 25px;
    right: 100px;
    height: 10%;
    width: 10%;
    background-color: white;
}

.bg-azul {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+42,2989d8+50,7db9e8+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 42%, #2989d8 50%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(42%,#207cca), color-stop(50%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 42%,#2989d8 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#207cca 42%,#2989d8 50%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 42%,#2989d8 50%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#207cca 42%,#2989d8 50%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.form-login {
    width: 80%;
    margin: auto;
}

.form-login input,button {
    width: 100%;
    margin-top: 5%;
    background-color: rgba(85,90,47,0.5);
    color: white;
    border: none;
    height: 2.5em;
    font-weight: bold;
}

.list {
    position: relative;
    background-color: #eee;
}

.distancia{
    position: absolute;
    right: 8%;
}

.item{
    font-size: .8em;
}

.seta {
    position: absolute;
    top: 44%;
    color: #000;
    left: 90%;
}

.title-bar{
    background-color: #0077FF;
    align-content: center;
}

.list-divider{
    border: none;
    background-color: #EEE;
}

.list .green {
    background-color: green;
    height: 90%;
    padding-top: 20%;
    width: 2px;
    padding-left: 0%;
    box-sizing: border-box;
    border: none;
    z-index: 0;
}

.list p {
    position: absolute;
}

.turma {
    top: 6px;
    left: 8%;
}

.sala {
    top: 30px;
    left: 8%;
}

.horario {
    top: 55px;
    left: 8%;
}

.creditos {
    top: 6px;
    left: 65%;
}

.faltas {
    top: 30px;
    left: 65%;
}

.esquerda {
    position: absolute;
    vertical-align: middle;
    text-align: left;
}

.scroll{
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.gm-style-iw + div {
    display: none !important;
}

.gm-style-iw {
    left: 29px !important;
    right: 0 !important;
    box-sizing: border-box !important:
}

